name: StockManagementSpring
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks: [svcnet] 

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      # OJO: este host/puerto es cómo los demás containers verán a Kafka
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks: [svcnet] 

  eureka:
    build:
      context: ./eureka-server  
    image: my-eureka-server:latest
    container_name: eureka
    ports:
      - "8761:8761"
    environment:
      SPRING_PROFILES_ACTIVE: default
      EUREKA_CLIENT_REGISTER_WITH_EUREKA: "false"
      EUREKA_CLIENT_FETCH_REGISTRY: "false"
      EUREKA_INSTANCE_HOSTNAME: "eureka"
    networks: [svcnet]

  postgres:
    image: postgres:16-alpine
    container_name: pg-main
    environment:
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_pass
      POSTGRES_DB: stockdb
    ports: ["5433:5432"] # opcional, solo si quieres acceder desde el host
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d # opcional: crea más DBs/esquemas
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB -h 127.0.0.1",
        ]
      interval: 10s
      timeout: 3s
      retries: 10
    networks: [svcnet]

  # API Gateway (Spring Cloud Gateway)
  api-gw:
    build:
      context: ./cloud_api_gw
    image: cloud-api-gw:latest
    container_name: cloud-api-gw
    ports: ["8080:8080"]
    environment:
      SPRING_APPLICATION_NAME: "cloud-api-gw"
      SERVER_PORT: "8080"
      # Usa el nombre del servicio 'eureka' dentro de la red
      EUREKA_URL: "http://eureka:8761/eureka"
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: "http://eureka:8761/eureka"
      # Descubrimiento dinámico (si lo usas en el gateway)
      SPRING_CLOUD_DISCOVERY_ENABLED: "true"
      SPRING_CLOUD_GATEWAY_DISCOVERY_LOCATOR_ENABLED: "true"
      SPRING_CLOUD_GATEWAY_DISCOVERY_LOCATOR_LOWER_CASE_SERVICE_ID: "true"
    depends_on:
      - eureka
    networks: [svcnet]

  # StockOperationService (SQLite)
  stock-op:
    build:
      context: ./StockOperationService
    image: stock-op:latest
    container_name: stock-op
    ports: ["8002:8002"]
    environment:
      SPRING_APPLICATION_NAME: "StockOperationService"
      SERVER_PORT: "8002"
      # SQLite persistido en /app/data
      SPRING_DATASOURCE_URL: "jdbc:postgresql://ep-bitter-meadow-a4ogzcxh-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
      # Eureka
      EUREKA_URL: "http://eureka:8761/eureka"
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: "http://eureka:8761/eureka"
      EUREKA_INSTANCE_PREFER_IP_ADDRESS: "true"
      # Secrets
      SECURITY_JWT_SECRET: "YmFzZTY0ZW5jb2RlZFNlY3JldEtleVNlY3JldEtleVNlY3JldEtleVNlY3JldEtleVNlY3JldEtleVNlY3JldEtleQ=="
    volumes:
      - ./StockOperationService/data:/app/data
    depends_on:
      - eureka
    networks: [svcnet]

  # StockQueryService (PostgreSQL)
  stock-query:
    build:
      context: ./StockQueryService
    image: stock-query:latest
    container_name: stock-query
    ports: ["8003:8003"]
    environment:
      SPRING_APPLICATION_NAME: "StockQueryService"
      SERVER_PORT: "8003"
      JDBC_DATABASE_URL: "jdbc:postgresql://ep-bitter-meadow-a4ogzcxh-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
      EUREKA_URL: "http://eureka:8761/eureka"
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: "http://eureka:8761/eureka"
      EUREKA_INSTANCE_PREFER_IP_ADDRESS: "true"
      SECURITY_JWT_SECRET: "YmFzZTY0ZW5jb2RlZFNlY3JldEtleVNlY3JldEtleVNlY3JldEtleVNlY3JldEtleVNlY3JldEtleVNlY3JldEtleQ=="
      SECRET_KEY_ENV: "otro_secreto_opcional"
    depends_on:
      eureka:
        condition: service_started
      postgres:
        condition: service_healthy
    networks: [svcnet]

  user-auth:
    build:
      context: ./UserAuthService
    image: user-auth:latest
    container_name: user-auth
    ports: ["8001:8001"]
    environment:
      SPRING_APPLICATION_NAME: "UserAuthService"
      SERVER_PORT: "8001"
      JDBC_DATABASE_URL: "jdbc:postgresql://postgres:5432/authdb"
      JDBC_DATABASE_USERNAME: "app_user"
      JDBC_DATABASE_PASSWORD: "app_pass"
      EUREKA_URL: "http://eureka:8761/eureka"
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: "http://eureka:8761/eureka"
      EUREKA_INSTANCE_PREFER_IP_ADDRESS: "true"
      SECURITY_JWT_SECRET: "YmFzZTY0ZW5jb2RlZFNlY3JldEtleVNlY3JldEtleVNlY3JldEtleVNlY3JldEtleVNlY3JldEtleVNlY3JldEtleQ=="
    depends_on:
      eureka:
        condition: service_started
      postgres:
        condition: service_healthy
    networks: [svcnet]

networks:
  svcnet: {}

volumes:
  pgdata: {}
